{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Notes and PYQ Platform</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>
        <h1>Uploaded Files</h1>
        <nav>
            <a href="/dashboard">Dashboard</a>
            <a href="/notes">Notes</a>
            <a href="/pyq">Previous Year Questions</a>
            <a href="/log_o">Logout</a>
        </nav>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Likes</th>
                    <th>Dislikes</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                {% for file_data in files %}
                    <tr>
                        <td>{{ file_data.file.title }}</td>
                        <td>{{ file_data.file.likes }}</td>
                        <td>{{ file_data.file.dislikes }}</td>
                        <td>{{ file_data.points }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </main>
</body>


</html>
