{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NoteConnect</title>
    <link rel="icon" href="{% static 'img/NoteConnectlogo.png' %}" style="height:20px;width:20px;">
    <link rel="stylesheet" href="{% static 'css/main..css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Dongle&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Dongle&family=Happy+Monkey&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="gradient">
      <div class="glass">
      <header class="container">
        <nav class="navbar">
          <img class="logo" src="{% static 'img/NoteConnectlogo.png' %}" />
          <a
            href="/home"
            style="text-decoration: none; color: rgb(255, 253, 253)"
            class="home"
            >Home</a
          >
          <a
            href="/log"
            style="text-decoration: none; color: rgb(255, 253, 253)"
            class="login"
            target="_blank"
            >Login</a
          >
          <a
            href="/signup"
            style="text-decoration: none; color: rgb(255, 253, 253)"
            class="sign-up"
            target="_blank"
            >Sign Up</a
          >
          <!-- <a href="" style="text-decoration: none; color:white" class="title">NoteConnect</a> -->
        </nav>
      </header>
      <main>
        <h1 class="welcome">Welcome to <br />NoteConnect!</h1>
        <section>
          <!-- <h2 class="about">About us</h2> -->
           <div class="stickynote">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line"></div>
            <div class="line3"></div>
            <div class="line4"></div>
            <div class="line5"></div>
            <div class="line6"></div>
            <div class="line7"></div>
          <p class="about">
            NoteConnect is an innovative application designed to enhance the study experience for students by providing a platform for uploading and accessing notes and previous year questions (PYQs)
          </p>
        </div>
        </section>
      </main>
      <footer>
        <p class="footer">&copy; 2025 Notes and PYQ Platform</p>
      </footer>
    </div>
    </div>
  </body>
</html>
