{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteConnect-Login</title>
    <link rel="icon" href="NoteConnectlogo.png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    
    <link rel="icon" href="{% static 'img/NoteConnectlogo.png' %}" style="height:20px;width:20px;">
</head>
<body>
    <div class="login-gradient">
        <header>
            <h1 class="login-title">Login</h1>
        </header>
            {% if error %}
            <p>{{ error }}</p>
            {% endif %}
        </header>
        <main>
            <div class="login-container">
                <form action="/log" method="POST">
                    {% csrf_token %}
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" id="email" name="email" class="form-input" required>
                    <br>
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" id="password" name="password" class="form-input" required>
                    <br>
                    <button type="submit" class="login-button">Login</button>
                </form>
                <p class="helper-text">Forgot password <a href="/reset_password" class="helper-link">Click Here</a></p>
                <p class="helper-text">Don't have an account? <a href="/sign" class="helper-link">Sign Up</a></p>
            </div>
        </main>
    </div>
</body>
</html>