{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password-NoteConnect</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="icon" href="NoteConnectlogo.png" style="height:20px;width:20px;">
</head>
<body>
    <div class="container">
        <h1>Set a New Password</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Send Reset Email</button>
        </form>
    </div>
</body>
</html>


