{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Notes and PYQ Platform</title>
    <link rel="stylesheet" href="{% static 'css/verify_email.css' %}">
</head>
<body>
    <header>
        <h1>Sign Up</h1>
    </header>
    <main>
        <div class="container">
        <div class="verification-card">
        <form method="POST" class="verification-form">
            {% csrf_token %}
            <p>An OTP has been sent to {{ email }}. Please enter it below:</p>
            <input type="text" name="otp" placeholder="Enter OTP" required >
            <button type="submit" class="btn-submit">Verify</button>
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
        </form>
        
        <p>Already have an account? <a href="/log">Login</a></p>
        </div>
    </div>
    </main>    
</body>
</html>
